<h1><%= @gist.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h3><em><%= @gist.description %></em></h3>
      <p><%= @gist.content %></p>
    </div>
  </div>
</div>
